<div class="map-container">
  <agm-map
    [latitude]="markers[1].lat"
    [longitude]="markers[1].lng"
    [zoom]="zoom"
    [disableDefaultUI]="false"
  >
    <agm-marker
      *ngFor="let m of markers; let i = index"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label"
      [markerDraggable]="m.draggable"
      (dragEnd)="markerDragEnd(m, $event)"
    >
    </agm-marker>
  </agm-map>
</div>
<h1 *ngIf="warrningBool" class="title">
  მომხმარებელი დაეთანხმა მუშაობის გარძელებას
</h1>

<div
  echarts
  [options]="options"
  [merge]="mergeOptions"
  class="demo-chart"
></div>

<h1 class="overall">overall: {{ overall }}</h1>

<video
  autoplay
  muted
  class="season-video"
  id="season-video"
  oncanplay="this.play()"
  onloadedmetadata="this.muted = true"
>
  <source
    type="video/mp4"
    [src]="
      season === 'spring'
        ? '../assets/spring.mp4'
        : season === 'summer'
        ? '../assets/summer.mp4'
        : season === 'autumn'
        ? '../assets/autumn.mp4'
        : '../assets/winter.mp4'
    "
  />
</video>

<button (click)="toggleDarkTheme()" class="darkLight">
  <span class="material-icons" *ngIf="darkLight"> dark_mode </span>
  <span class="material-icons" *ngIf="!darkLight"> light_mode </span>
</button>
