<h2 mat-dialog-title>გაფრთხილება</h2>
<div mat-dialog-content>
  ჰაერის ნიშნული სახიფათოა!(ეთანხემბით ან უარყოფთ მუშაობის რისკებს)
</div>
<div mat-dialog-actions>
  <button
    mat-button
    mat-dialog-close
    style="margin-right: 30px; cursor: pointer"
    (click)="onConfirmClick(false)"
  >
    {{ cancelButtonText }}
  </button>
  <button
    mat-button
    mat-dialog-close
    cdkFocusInitial
    style="cursor: pointer"
    (click)="onConfirmClick(true)"
  >
    {{ confirmButtonText }}
  </button>
</div>
